@import 'styles/_mixins.scss';

#Workout {
  .workout-grid {
    display: flex;
    height: 100vh;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    > .head {
      min-height: 55px;
      height: 55px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      background: #282929;
      box-shadow: 0 2px 4px rgba(120, 120, 120, 0.4);
      z-index: 3;
      opacity: 0;
      transition: all 200ms ease-out;
      transform: translateY(-100%);
      > .container {
        align-items: center;
        padding: 0px;
        flex-flow: row nowrap;
      }
      h1 {
        @include mont(12px, 400, $white);
        padding-right: 10px;
        small {
          color: $greyType;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        color: $white;
        svg {
          display: inline-block;
          width: 12px;
          height: 12px;
          transition: all 200ms ease-out;
        }
      }
    }
    > .contents {
      flex-grow: 2;
      position: relative;
      overflow: auto;
      z-index: 2;
      padding: 0px 0;
      .routine-detail {
        width: 100%;
      }
      .routine-log {
        margin-bottom: 20px;
      }
      &.empty {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
        .message {
          text-align: center;
          padding: 0px;
          margin-bottom: 55px;
          p {
            margin: 0px 0px 20px;
            padding: 0 10px;
            font-family: 'Questrial';
            font-size: 16px;
            color: $white;
          }
          .btn {
            display: block;
            width: 100%;
            text-transform: uppercase;
            border-radius: 0px;
            padding: 8px 10px;
          }
        }
      }
    }
    > .footer {
      z-index: 3;
      height: 60px;
      min-height: 60px;
      padding: 0px;
      background: #0d0d0d;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 -2px 4px rgba(20, 20, 20, 0.4);
      overflow: hidden;
      opacity: 0;
      transition: all 200ms ease-out;
      transform: translateY(100%);
      #stopwatch {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 2;
        padding: 0 16px;
        min-width: 60%;
        border: 0px;
        line-height: 1;
        background: transparent;
        p {
          font-family: 'Questrial';
          color: $white;
          font-size: 30px;
        }
        .stopwatch-btn {
          height: 45px;
          width: 45px;
          display: flex;
          border-radius: 100%;
          background: $red;
          align-items: center;
          justify-content: center;
          margin-right: 30px;
          border: 3px solid $red;
          color: $white;
          transition: all 200ms ease-out;
          position: relative;
          overflow: hidden;
          border: 0px;
          div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(150%);
            transition: all 200ms ease-out;
            opacity: 0;
            svg {
              width: 14px;
              height: 14px;
            }
            &.visible {
              transform: translateX(-50%) translateY(-50%);
              opacity: 1;
            }
          }
          &.running {
            background: transparent;
            border: 3px solid $white;
          }
        }
      }
      .action-zone {
        height: 60px;
        display: flex;
        flex-grow: 1;
        background: #222323;
        position: relative;
        min-width: 40%;
      }
      .action {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-grow: 1;
        background: #222323;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        border: 0px;
        @include mont(9px, 400, $white);
        text-transform: uppercase;
        min-width: 40%;
        transition: all 200ms ease-out;
        transform: translateY(-100%);
        &.active {
          transform: translateY(0%);
        }
        svg {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 10px;
        }
        span {
          text-align: left;
        }
      }

      @media (min-width: 721px) {
        position: fixed;
        bottom: 0px;
        left: 50%;
        max-width: 1000px;
        width: 100%;
        transform: translateX(-50%);
      }
    }

    .step {
      transition: all 200ms ease-out;
      transform: translateY(-100%);
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;
      left: 0;
      &.active {
        position: relative;
        transform: translateY(-0%);
      }
    }
  }

  .workout-card {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    > .heading {
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 24px 16px;
      box-shadow: 0px 4px 4px rgba(41, 41, 41, 0.7);
      margin-bottom: 16px;
      .title {
        @include mont(20px, 700, $white);
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .subtitle {
        @include mont(12px, 500, #828282);
        text-transform: uppercase;
      }
      .direction {
        color: $white;
        flex-grow: 2;
        text-align: left;
        border: 0px;
        background: transparent;
        cursor: pointer;
        &:last-child {
          text-align: right;
        }
        svg {
          width: 9px;
          height: 24px;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
    .body {
      padding: 0px 0px;
      .input-zone {
        margin-bottom: 16px;
        padding: 0 16px;
        .col {
          text-align: center;
          position: relative;
          @include mont(16px, 400, $blue);
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
          justify-content: center;
          transition: all 200ms ease-out;
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
          border: 1px solid #4f4f4f;
          border-radius: 8px;
          .fa-minus,
          .fa-plus {
            transition: all 200ms ease-out;
            transform: scale(1);
          }
          &.pressed {
            .input input {
              color: #5a81cd;
              transform: scale(1.3);
            }
            &.more {
              box-shadow: inset -8px 0px 5px rgba(0, 0, 0, 0.8),
                inset 1px 0px 5px rgba(0, 0, 0, 1);
              .fa-plus {
                transform: scale(0.7);
              }
              .fa-minus {
                transform: scale(1.1);
              }
            }
            &.less {
              box-shadow: inset 8px 0px 5px rgba(0, 0, 0, 0.8),
                inset 1px 0px 5px rgba(0, 0, 0, 1);
              .fa-minus {
                transform: scale(0.7);
              }
              .fa-plus {
                transform: scale(1.1);
              }
            }
          }
          .button {
            flex-grow: 2;
            text-align: center;
            color: $white;
            border-radius: 0px;
            background: transparent;
            border: 0px;
          }
          .input {
            padding: 7px 15px 0;
            p {
              font-family: 'Questrial';
              font-size: 13px;
              color: $greyType;
              text-transform: uppercase;
            }
          }
          input[type='number'] {
            @include mont(36px, 700, $white);
            background: transparent;
            width: 90px;
            border: 0px;
            line-height: 50px;
            display: block;
            margin: 0 auto 0px;
            text-align: center;
            padding: 0px 0px;
            height: auto;
            transform: scale(1);
            transition: all 200ms ease-out;
          }
        }
      }

      .helper-buttons {
        display: flex;
        width: 100%;
        padding: 5px 0px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 11px;
        a,
        button {
          white-space: nowrap;
          display: inline-block;
          @include mont(11px, 500, $white);
          text-decoration: none;
          transition: all 200ms ease-out;
          line-height: 1;
          margin: 0px 5px 5px;
          padding: 0 10px;
          line-height: 30px;
          background: transparent;
          border: 1px solid #8f8f8f;
          border-radius: 20px;
          &:hover {
            color: $red;
          }
        }
      }

      .setList {
        padding: 0 16px;
        .heading {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          .sets-title {
            @include mont(15px, 500, $greyType);
            text-transform: uppercase;
          }

          .completion-small {
            width: 43px;
            min-width: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            position: relative;
            .copy {
              position: absolute;
              top: 50%;
              left: 0px;
              width: 100%;
              transform: translateY(-50%);
              text-align: center;
              p {
                @include mont(12px, 400, $white);
                text-transform: uppercase;
                letter-spacing: 1px;
              }
            }
            .circular-chart {
              margin: 0 auto;
              width: 43px;
              height: 43px;
              display: block;
              box-sizing: content-box;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
              border-radius: 100%;
              * {
                box-sizing: content-box;
              }
              .circle-bg,
              .circle {
                width: 100%;
              }
              .circle-bg {
                fill: none;
                stroke: #808080;
                stroke-width: 2px;
              }
              .circle {
                fill: none;
                stroke: $red;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-dasharray: 0, 100;
                transition: stroke-dasharray 500ms linear;
              }
            }

            &.alternate {
              flex-flow: row nowrap;
              width: auto;
              .copy {
                position: static;
                transform: translateY(0);
                p {
                  font-size: 13px;
                }
              }
              .circular-chart {
                width: 40px;
                height: 40px;
                .circle-bg,
                .circle {
                  stroke-width: 4px;
                }
              }
            }
          }
        }
      }

      .set-counter {
        padding: 0px 0px;
        display: flex;
        flex-flow: row nowrap;
        background: #2f2f2f;
        margin-bottom: 16px;
        border-radius: 2px;
        .set-heading {
          text-align: center;
          padding: 0px 10px;
          @include mont(14px, 300, $white);
          width: 69px;
          text-align: center;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #000000;
          .count {
            @include mont(10px, 400, $greyType);
            text-transform: uppercase;
            span {
              color: $white;
              font-size: 14px;
              margin-bottom: 3px;
              letter-spacing: 1px;
              display: block;
              text-align: center;
            }
          }
        }
        .set-body {
          padding: 0px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          flex-grow: 2;
          transition: all 200ms ease-out;
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
          .fa-plus,
          .fa-minus {
            transform: scale(1);
            transition: all 200ms ease-out;
          }
          &.pressed {
            &.more {
              box-shadow: inset -5px 0px 5px rgba(0, 0, 0, 0.6),
                inset 1px 0px 5px rgba(0, 0, 0, 0.2);
              .fa-plus {
                transform: scale(0.7);
              }
              .fa-minus {
                transform: scale(1.1);
              }
            }
            &.less {
              box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.6),
                inset 1px 0px 5px rgba(0, 0, 0, 0.2);
              .fa-minus {
                transform: scale(0.7);
              }
              .fa-plus {
                transform: scale(1.1);
              }
            }
          }
          .rangeslider {
            flex-grow: 2;
            margin: 0px;
          }

          .value-button {
            height: 66px;
            background: transparent;
            color: $white;
            max-width: 70px;
            width: 70px;
            svg {
              width: 15px;
            }
          }
        }
        &:last-child {
          margin-bottom: 20px;
        }

        &.completed {
          .rangeslider {
            .rangeslider__fill {
              background: $red;
            }
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  #workout-tabs {
    background: #2e2e2e;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 0px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 200ms ease-out;
    z-index: 2;
    padding: 0 10px;
    &.visible {
      height: 50px;
      overflow: auto;
      top: 55px;
      @media (min-width: 721px) {
        position: absolute;
        top: 0px;
        justify-content: center;
        width: 100%;
        background: transparent;
        li {
          flex-grow: 0;
        }
      }
    }
    li {
      padding: 0 10px;
      position: relative;
      flex-grow: 1;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 0px;
        background: $red;
        transition: all 200ms ease-out;
        left: 0px;
      }
      &.active {
        button {
          color: $white;
        }
        &:after {
          height: 2px;
        }
      }
      button {
        @include mont(11px, 500, #A6A6A6);
        text-transform: uppercase;
        border: 0px;
        background: transparent;
        white-space: nowrap;
        transition: all 200ms ease-out;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px;
      }
    }
  }

  .currentExercise {
    padding-top: 50px;
    @media (min-width: 721px) {
      padding-top: 50px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  @media (min-width: 721px) {
    margin-top: -30px;
    .workout-grid {
      display: block;
      .contents {
        &.empty {
          .message {
            margin: 80px auto;
          }
        }
      }
    }
  }

  .active-routine {
    .routine-heading,
    .routine-body {
      opacity: 0;
      transition: 200ms all 200ms ease-out;
      transform: translateX(-100%);
    }
  }

  &.loaded {
    .workout-grid {
      > .head,
      > .footer {
        opacity: 1;
        transform: translateY(0%) translateX(0%);
      }
      @media (min-width: 721px) {
        > .footer {
          transform: translateY(0%) translateX(-50%);
        }
      }
    }

    .active-routine {
      .routine-heading,
      .routine-body {
        opacity: 1;
        transform: translateY(0%) translateX(0%);
      }
    }
  }
}

.rangeslider {
  background: #454545;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 6px;
  .rangeslider__handle-tooltip {
    @include mont(13px, 700, $red);
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: $white;
    &:after {
      border-top-color: $white;
    }
  }
  .rangeslider__handle {
    border: 0px transparent;
    background: #bdbdbd;
    box-shadow: inset 3px 2px 4px rgba(0, 0, 0, 0.28);
    &:after {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
    }
    &:focus {
      outline: 0;
    }
  }
  .rangeslider__fill {
    background: $red;
    border-radius: 3px;
    transition: background 200ms ease-out;
  }
}

.interval-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: stretch;
  .mainAction {
    position: relative;
    overflow: hidden;
    button {
      position: absolute;
      top: 150%;
      left: 0;
      transition: all 200ms cubic-bezier(0.62, -0.3, 0.33, 1.32);
      height: 100%;
      width: 100%;
      opacity: 0;
      &.active {
        top: 0;
        opacity: 1;
      }
    }
  }
  button,
  .mainAction {
    flex-grow: 1;
    text-align: center;
    color: $white;
    background: transparent;
    padding: 0px;
    line-height: 1;
    border: 0px;
    font-size: 20px;
  }
}

.interval-exercice {
  display: none;
  padding: 12px;
  background: #232328;
  box-radius: 4px;
  &.active {
    display: block;
  }
  .interval-heading {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    .index {
      order: 2;
      @include mont(12px, 500, $greyType);
    }
    .name {
      @include mont(18px, 500, $white);
    }
  }

  .counter {
    display: block;
    text-align: center;
    padding: 12px 0px;
    border-bottom: 1px solid #000;
    .counter-title {
      @include mont(18px, 500, $greyType);
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .counter-value {
      @include mont(26px, 700, $white);
      letter-spacing: 1px;
    }
  }
}
