.btn{
  padding:0px;
  line-height: 1;
  margin:0px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #1FC3AF;
  border-radius: 3px;
  text-align: center;
  padding:10px;
  background: transparent;
  transition:all 200ms ease-out;
  @include mont(12px, 400, $white);
  cursor: pointer;
  &:hover:not(:disabled){
    background: $green;
  }

  &.facebook{
    background: #3b5998;
    border-color: #3b5998;
    &:hover{
      background: transparent;
    }
  }
  &.google{
    background: #dd4b39;
    border-color: #dd4b39;
    &:hover{
      background: transparent;
    }
  }

  &.btn-caps{
    text-transform: uppercase;
  }

  &.btn-green{
    background: $green;
    &:hover:not(:disabled){
      background: transparent;
    }
  }

  &.btn-danger{
    border-color: $red;
    color:$red;
    font-weight: 300;
    letter-spacing: 0.5px;
    &:hover:not(:disabled){
      background: $red;
      color:$white;
    }
    &:disabled{
      color:$greyType;
      border-color: $greyType;
    }
  }

  &.btn-transparent{
    border-color: transparent;
    &:hover{
      color:$green;
      background-color: transparent;
    }
  }

  &.btn-size-s{
    font-size: 10px;
    padding:5px 10px;
    letter-spacing: 0.5px;
  }

  &.btn-block{
    display: block;
    width: 100%;
  }

  &.btn-big{
    padding:15px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    &.w-radius{
      border-radius: 3px;
    }
    &:hover:not(:disabled){
      background:$blue;
      border-color:$blue;
    }
  }

  &:disabled{
    cursor: default;
    opacity:0.5;
  }

  @media (max-width: $mobile){
    font-size: 11px;
  }
}

.value-button{
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #32374E;
  border-radius: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color:$greyType;
  transition:all 200ms ease-out;
  cursor: pointer;
  padding:0px;
  border:0px;
  &:hover{
    color:$green;
    background: $white;
  }
  &:focus{
    outline:0;
  }
}