// breakpoints
$tablet: 1030px;
$mobile: 720px;

// Colors
$white: #f9f9f9;
$green: #1fc3af;
$greyType: #bdbdbd;
$underlines: #494b65;
$turquoise: #63afc0;
$red: #d42f2f;
$blue: #62abd6;
$orange: #fcc05a;

// Font
@mixin mont($size, $type, $color) {
  font-family: 'Montserrat';
  font-size: $size;
  color: $color;
  font-weight: $type;
}

// Keyframes
@keyframes bitMovementTopLeft {
  0% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
  50% {
    transform: translateY(-20%) translateX(-20%) scale(0.7);
  }
  100% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
}

@keyframes bitMovementTopRight {
  0% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
  50% {
    transform: translateY(-20%) translateX(20%) scale(0.7);
  }
  100% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
}

@keyframes bitMovementBottomLeft {
  0% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
  50% {
    transform: translateY(20%) translateX(-20%) scale(0.7);
  }
  100% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
}

@keyframes bitMovementBottomRight {
  0% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
  50% {
    transform: translateY(20%) translateX(20%) scale(0.7);
  }
  100% {
    transform: translateY(0%) translateX(-0%) scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}
