@import "styles/_mixins.scss";


.empty-record{
  background: linear-gradient(180deg, #262626 58%, #383838 100%);
  padding:30px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  p{
    @include mont(13px, 400, $greyType);
  }
}
.records-card{
  display: flex;
  margin-bottom: 0px;
  background: transparent;
  border-bottom: 1px solid #3B3B3B;
  width: 100%;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
  transition:all 300ms ease-out;
  padding:20px 0px;
  &:last-child{
    border-bottom: 0px;
  }
  .description{
    padding-left:20px;
    position: relative;
    &:before{
      content:"";
      display: block;
      width: 10px;
      height: 10px;
      background: $red;
      border-radius:100%;
      position: absolute;
      top:50%;
      left: 0px;
      transform:translateY(-50%);
    }
    p{
      @include mont(10px, 400, #BDBDBD);
    }
    .title{
      @include mont(13px, 700, $white);
      margin-bottom: 3px;
      text-transform: uppercase;
    }
  }
  .value{
    width: 50px;
    text-align: left;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    p{
      @include mont(16px, 400, $white);
      span{
        font-size: 11px;
        color:#BDBDBD;
        font-family: 300;
      }
    }
  }
}