.page-header{
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  &:after{
    content:"";
    display: block;
    flex-grow:1;
    width: 100%;
    height: 1px;
    background: $underlines;
  }
  > a{
    @include mont(20px, 300, $white);
    padding-right: 8px;
    display: block;
    text-decoration: none;
    border-right: 1px solid $underlines;
    margin-right: 8px;
    line-height: 1;
    position: relative;
    left: 0px;
    transition:all 200ms ease-out;
    &:hover{
      left:-2px;
      padding-right: 10px;
      color:$green;
    }
  }
  h1{
    @include mont(14px, 700, $white);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-right: 15px;
    white-space: nowrap;
  }
  .btn{
    white-space: nowrap;
    order:9;
    margin-left: 15px;
  }
}

.section-title{
  @include mont(18px, 700, $white);
  text-transform: uppercase;
  margin-bottom: 25px;
  @media (max-width: $mobile){
    font-size: 16px;
  }
}