@import "styles/_mixins.scss";

.records-wrap{
  position: relative;
  padding-bottom:30px;
  margin-bottom: 40px;
  &:after{
    content:"";
    width: 100%;
    height: 105%;
    z-index: 1;
    background: #32374E;
    position: absolute;
    right: -20px;
    top:-20px;
  }
  > *{
    position: relative;
    z-index: 2;
  }

  .empty-state{
    text-align: right;
    @include mont(13px, 400, $greyType);
  }

  .section-title{
    text-align: right;
  }

  @media (max-width: $mobile){
    &:after{
      right: 10px;
    }
    .section-title{
      text-align: left;
    }
    .empty-state{
      text-align: left;
    }
  }
}

.past-workouts-list{
  margin-bottom: 60px;
  .stats{
    margin-bottom: 30px;
  }
  .btn{
    margin-bottom: 15px;
  }
}


.Dashboard, .History{
  .animation-introduction{
    transition:all 200ms ease-out;
    opacity:0;

    .quicklauncher .btn{
      transition:all 200ms ease-out;
      transform:translateY(-30%);
      opacity:0;
      &:nth-child(2){
        transition-delay:100ms;
      }
      &:nth-child(3){
        transition-delay:200ms;
      }
    }
  }

  .animation-contents{
    transition:all 300ms ease-out;
    transition-delay:100ms;
    opacity:0; 
  }

  &.loaded{
    .animation-introduction, .animation-contents{
      opacity:1;
      transform:translateY(0%);
      .quicklauncher .btn{
        transform:translateY(0%);
        opacity:1;
      }
    }
  }
}