@import "styles/_reset.scss";
@import "styles/_mixins.scss";

body, html{
  background: #2C3045;
}

.logged-in #mainContents{
  padding-top: 80px;
}
#mainContents{
  background: #2C3045;
  position: relative;
  z-index: 95;
  min-height: 100vh;
  transition:all 200ms ease-out;
  right: 0px;
  &.menuActive{
    right: 250px;
  }
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}

@import "styles/grid";
@import "styles/loader";
@import "styles/titleBlocks";
@import "styles/buttons";
@import "styles/progressBars";
@import "styles/panels";

.nav-tabs{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:stretch;
  align-content:stretch;
  li{
    text-align: center;
    flex-grow:1;
    a{
      cursor: pointer;
    }
  }
}

.form-group{
  display: block;
  margin-bottom: 15px;
  label{
    display: block;
    margin-bottom: 5px;
    @include mont(10px, 700, $greyType);
    letter-spacing: 1px;
  }
  input[type="text"], input[type="email"], input[type="password"]{
    display: block;
    width: 100%;
    border:1px solid $white;
    background: $white;
    margin-bottom: 0px;
    line-height: 30px;
    padding:0 10px;
    height: 30px;
    @include mont(12px, 400, $greyType);
    transition:all 200ms ease-out;
    &:focus{
      outline:0;
      border-color: $green;
    }
  }
}


.inlineLoader{
  display: inline-block;
  width:100%;
  max-width: 200px;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  &:before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    -webkit-background-size: 40px 40px;
            background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }
  p{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    @include mont(10px, 400, $white);
    text-transform: uppercase;
    margin-bottom: 0px !important;
  }
}
