@import "styles/_reset.scss";
@import "styles/_mixins.scss";

body, html{
  background: #2C3045;
}

.logged-in #mainContents{
  padding-top: 80px;
}
#mainContents{
  background: #2C3045;
  position: relative;
  z-index: 95;
  min-height: 100vh;
  transition:all 200ms ease-out;
  right: 0px;
  &.menuActive{
    right: 250px;
  }
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}

@import "styles/grid";
@import "styles/loader";
@import "styles/titleBlocks";
@import "styles/buttons";
@import "styles/progressBars";

.nav-tabs{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:stretch;
  align-content:stretch;
  li{
    text-align: center;
    flex-grow:1;
    a{
      cursor: pointer;
    }
  }
}

.form-group{
  display: block;
  margin-bottom: 15px;
  label{
    display: block;
    margin-bottom: 5px;
    @include mont(10px, 700, $greyType);
    letter-spacing: 1px;
  }
  input[type="text"], input[type="email"], input[type="password"]{
    display: block;
    width: 100%;
    border:1px solid $white;
    background: $white;
    margin-bottom: 0px;
    line-height: 30px;
    padding:0 10px;
    height: 30px;
    @include mont(12px, 400, $greyType);
    transition:all 200ms ease-out;
    &:focus{
      outline:0;
      border-color: $green;
    }
  }
}

