@import 'styles/_reset.scss';
@import 'styles/_mixins.scss';

body,
html {
  background: #000000;
}

.logged-in #mainContents {
  @media (min-width: 721px) {
    padding-top: 30px;
  }
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

@import 'styles/grid';
@import 'styles/loader';
@import 'styles/titleBlocks';
@import 'styles/buttons';
@import 'styles/progressBars';
@import 'styles/panels';

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  li {
    text-align: center;
    flex-grow: 1;
    a {
      cursor: pointer;
    }
  }
}

.form-group {
  display: block;
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
    @include mont(10px, 700, $greyType);
    letter-spacing: 1px;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    display: block;
    width: 100%;
    border: 1px solid $white;
    background: $white;
    margin-bottom: 0px;
    line-height: 30px;
    padding: 0 10px;
    height: 30px;
    @include mont(12px, 400, $greyType);
    transition: all 200ms ease-out;
    &:focus {
      outline: 0;
      border-color: $green;
    }
  }
}

.inlineLoader {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 0 20px;
  min-width: 0px;
  /*&:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(
      90deg,
      rgba(212, 47, 47, 1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(212, 47, 47, 1) 50%,
      rgba(212, 47, 47, 1) 75%,
      transparent 75%,
      transparent
    );
    background-image: -o-linear-gradient(
      90deg,
      rgba(212, 47, 47, 1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(212, 47, 47, 1) 50%,
      rgba(212, 47, 47, 1) 75%,
      transparent 75%,
      transparent
    );
    background-image: linear-gradient(
      90deg,
      rgba(212, 47, 47, 1) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 50%,
      rgba(212, 47, 47, 1) 50%,
      rgba(212, 47, 47, 1) 75%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0)
    );
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }*/
  .bits {
    display: flex;
    width: 30px;
    height: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    //transform: rotate(-45deg);
    margin: 0 auto 15px;
    animation: rotation 1.5s linear infinite normal;
    i {
      width: 14px;
      background: $red;
      height: 14px;
      margin-bottom: 2px;
      animation: bitMovementTopLeft 1s linear infinite;
      border-radius: 100%;
      &:nth-child(2) {
        animation: bitMovementTopRight 1s linear infinite;
        animation-delay: 150ms;
      }
      &:nth-child(3) {
        animation: bitMovementBottomLeft 1s linear infinite;
        animation-delay: 300ms;
      }
      &:nth-child(4) {
        animation: bitMovementBottomRight 1s linear infinite;
        animation-delay: 450ms;
      }
    }
  }
  p {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    @include mont(10px, 400, $greyType);
    text-transform: uppercase;
    margin-bottom: 0px !important;
  }
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .zone {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    &#nav-zone {
      height: 60px;
      overflow: visible;
      @media (max-width: 720px) {
        order: 2;
      }
    }
  }
  #mainContents {
    background: #000000;
    position: relative;
    z-index: 95;
    min-height: 100vh;
    transition: all 200ms ease-out;
    right: 0px;
    &.menuActive {
      right: 320px;
    }
  }
}
