@import "styles/_mixins.scss";

.popin{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  top:0px;
  right:0px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  flex-wrap:nowrap;
  padding-top: 60px;
  transition:all 200ms ease-out;
  > .contents{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    width: 100%;
  }
  &:before{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: -webkit-linear-gradient(24deg, #191D34 78%, #424659 100%);
    background-image: -o-linear-gradient(24deg, #191D34 78%, #424659 100%);
    background-image: linear-gradient(114deg, #191D34 78%, #424659 100%);
    opacity: 0.9;
    z-index: 1;
    transition:all 200ms ease-out;
  }
  .modal-header{
    height: 60px;
    min-height: 60px;
    background: $blue;
    width: 100%;
    position: relative;
    z-index: 100;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition:all 200ms ease-out;
    transform: translateY(0);
    opacity:1;
    padding:0 10px;
    &.alert{
      background:$red;
    }
    .container{
      align-items:center;
      height: 60px;
      min-height: 60px;
      button{
        background-color: transparent;
        border:0px;
        cursor: pointer;
        border:0px;
        @include mont(11px, 700, $white);
        text-transform: uppercase;
        border-radius: 10px;
        padding:5px;
        background: $white;
        color:$green;
        transition:all 200ms ease-out;
        &:hover{
          background: $green;
          color:$white;
        }
      }
      .title{
        @include mont(16px, 400, $white);
        @media (max-width: $mobile){
          font-size: 14px;
        }
      }
    }
  }
  .modal-contents{
    transition:all 200ms ease-out;
    transform: translateY(0);
    opacity:1;
    width: 100%;
    text-align:left;
    padding:60px 0px;
    flex-grow:4;
    position: relative;
    z-index: 2;
    overflow: auto;

    .Routines{
      width: 100%;
      max-width: 600px;
      margin:0 auto 30px;
    }
  }

  &.animate{
    &:before{
      opacity:0;
    }
    .modal-header{
      opacity:0;
      transform: translateY(-100%);
    }
    .modal-contents{
      opacity:0;
      transform: translateY(40%);
    }
  }
}

.menuActive{
  .popin{
    right: 250px;
  }
}