#mainNav{
  .UserLog{
    position: absolute;
    right: 15px;
    top:0px;
    line-height: 50px;
    img, p{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      width: 30px;
      height: 30px;
      border-radius:100%;
      margin-right: 5px;
    }
  }
}