@import "styles/_mixins.scss";

.empty-workouts{
  background: #32374E;
  padding:30px;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  p{
    @include mont(13px, 400, $greyType);
    margin-bottom: 15px;
  }
}

.routine-detail{
  background: #494B65;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  flex-flow:column;
  align-items:stretch;
  justify-content:flex-start;
  transition:all 300ms ease-out;
  .routine-heading{
    padding:15px;
    background: #32374E;
    position: relative;
    p{
      @include mont(11px, 400, $greyType);
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 3px;
      @media (max-width: $mobile){
        font-size: 10px;
      }
    }
    .title{
      @include mont(18px, 300, $white);
      @media (max-width: $mobile){
        font-size: 15px;
      }
    }
    .color-spot{
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 100%;
      top:50%;
      right: 15px;
      margin-top: -6.5px;
      position: absolute;
    }

    &.with-actions{
      display: flex;
      width: 100%;
      flex-direction:row;
      flex-wrap:nowrap;
      justify-content:space-between;
      align-items:stretch;
      padding:0px;
      .description{
        padding:12px 45px 12px 15px;
        position: relative;
        flex:2 1 auto;
      }
      .action{
        cursor: pointer;
        border:0px;
        border-radius: 0px;
        background: $green;
        display: flex;
        align-items:center;
        justify-content:center;
        padding:15px;
        text-decoration: none;
        @include mont(11px, 700, $white);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition:all 200ms ease-out;
        &:hover{
          background: $blue;
        }
      }
    }
  }

  .routine-body{
    flex-grow:2;
    .routine-log{
      flex:0 1 170px;
      padding: 15px 15px 30px;
      border-right: 1px solid #32374E;
      &:last-child{
        border-right: 0px;
      }
      .exercise-name{
        @include mont(15px, 400, $white);
        margin-bottom: 10px;
        white-space: nowrap;
        @media (max-width: $mobile){
          font-size: 13px;
        }

      }
      .status{
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
    }

    &.log{
      display: flex;
      flex-direction:row;
      flex-wrap:nowrap;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      justify-content:flex-start;
      align-items:stretch;
      overflow: auto;
    }

    &.workout{
      padding:10px;
    }

    &.details{
      display: flex;
      flex-direction:column;
      justify-content:space-between;
      align-items:center;
      justify-content:flex-start;
      padding:10px 10px 10px 0;
      .routine-log{
        display: flex;
        flex-flow:row nowrap;
        flex:0 0 auto;
        width:100%;
        padding:0px;
        margin:0px auto 15px;
        background:#383E59;
        border-right: 0px;
        overflow: hidden;
        justify-content:space-between;
        align-items:stretch;
        &:last-child{
          margin-bottom: 0px;
        }
        .exercise-name{
          padding: 0px 10px;
          //background: #32374E;
          background: #494B65;
          text-align: right;
          margin-bottom: 0px;
          display: flex;
          align-items:center;
          justify-content:flex-end;
          width: 120px;
          min-width: 112px;
          flex-wrap:normal;
          white-space: normal;
          font-size: 12px;
        }
        .status{
          flex-grow:2;
          &.listing{
          text-align: center;
          display: flex;
          flex-flow:row nowrap;
          justify-content:space-between;
          align-items:center;
          p{
            @include mont(16px, 300, $blue);
            line-height: 1.2;
            text-align: center;
            flex-grow:1;
            border-right: 1px solid #32374E;
            position: relative;
            padding:12px 15px;
            strong{
              @include mont(12px, 400, $white);
            }
            &:last-child{
              border-right: 0px;
            }
            &:after{
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              font-family: "FontAwesome";
              position: absolute;
              right: 0px;
              top: 50%;
              transform:translateX(50%) translateY(-50%);
              background: #32374E;
              font-size: 9px;
              color: $greyType;
              border-radius: 100%;
            }
            &.set-number{
              &:after{
                content:"\f061";
              }
            }
            &.rep-number{
              &:after{
                content:"\f00d";
              }
            }
            &:last-child{
              &:after{
                display: none;
              }
            }
          }
        }
        }
      }
    }
  }

  .routine-footer{
    border-top: 1px solid #32374E;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
    align-items:center;
    padding:0px 0px;
    background:#383E59;
    .btn{
      padding:11px 8px;
      margin-bottom: 0px;
      border:0px;
      margin:0px;
      font-weight: 300;
      border-radius: 0px;
    }
  }

  &.empty{
    text-align: center;
    padding:40px 15px;
    background: transparent;
    width: 100%;
    p{
      @include mont(12, 700, $greyType);
      margin-bottom: 20px;
    }
  }

  @media (max-width: 550px){
    .routine-heading{
      &.with-actions{
        .action{
          padding:5px 10px;
          width: 110px;
          text-align: center;
          line-height: 1.3;
          font-size: 9px;
        }
      }
    }
    .routine-body{
      .routine-log{
        width:45%;
        flex:0 0 45%;
      }


      &.details{
        .routine-log{
          .exercise-name{
            font-size: 11px;
            width: 90px;
            min-width: 90px;
            max-width: 90px;
            flex-grow:1;
            text-align: center;
            justify-content:center;
          }
          .status{
            &.listing{
              p{
                font-size: 13px;
                strong{
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px){
    .routine-body{
      .routine-log{
        width:55%;
        flex:0 0 55%;
      }

      &.details{
        .routine-log{
          .status{
            &.listing{
              p{
                strong{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}