@import "styles/_mixins.scss";

.weight-settings{
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-between;
  > .panel{
    margin:0 20px;
    flex-grow:1;
    &:first-child{
      margin-left: 0px;
      width: 40%;
    }
    &:last-child{
      margin-right: 0px;
      width: 60%;
    }
  }

  @media (max-width:795px){
    flex-direction:column;
    > .panel{
      width:100%;
      margin:0px 0px 30px;
      &:first-child{
        width: 100%;
      }
      &:last-child{
        width: 100%;
      }
    }
  }
}

.panel{
  background: #494B65;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
  .panel-heading{
    padding:10px 15px;
    background: #32374E;
    position: relative;
    .title{
      @include mont(12px, 400, $greyType);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      display: flex;
      justify-content:space-between;
      align-items:center;
      .saving{
        min-width: 12px;
        height: 12px;
        border:3px solid $white;
        border-right: 3px solid transparent;
        animation-name:rotation;
        animation-duration:500ms;
        animation-iteration-count:infinite;
        border-radius: 100%;
        margin-bottom: 0px;
      }
      .saved{
        min-width: 12px;
        height: 12px;
        border:3px solid $green;
        border-radius: 100%;
      }
      @media (max-width: $mobile){
        font-size: 10px;
      }
    }
  }
  .panel-body{
    padding:20px 15px;

    img{
      max-width: 100%;
      display: block;
    }

    .img-circle{
      display: block;
      margin:0 auto 30px;
      width: 100%;
      border-radius:100%;
      max-width: 150px;
    }

    .form-group{
      input[type="email"], input[type="text"]{
        color: #343436;
        + p{
          @include mont(11px, 300, $red);
          letter-spacing: 0.5px;
          padding-top: 5px;
        }
      }
    }

    .barbell-load{
      text-align: center;
      @include mont(16px, 400, $blue);
      input{
        @include mont(26px, 300, $white);
        background:transparent;
        width: 90px;
        border:0px;
        border-bottom: 1px solid $green;
        line-height: 30px;
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        padding:0px;
      }
    }

    .free-weights{
      position: relative;
      input{
        position: absolute;
        visibility: hidden;
        + label{
          display: flex;
          flex-direction:row;
          justify-content:flex-start;
          width: 100%;
          align-items:center;
          margin-bottom: 15px;
          @include mont(12px, 400, $greyType);
          transition:all 200ms ease-out;
          &:before{
            content:"";
            display: block;
            width: 20px;
            height: 20px;
            background:transparent;
            border:2px solid $white;
            border-radius:100%;
            margin-right: 10px;
            min-width: 20px;
            transition:all 200ms ease-out;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0,0,0,0);
          }
          &:hover{
            &:before{
              margin-right: 12px;
              box-shadow: 1px 1px 6px rgba(155,155,155,0.5);
            }
          }
        }
        &:checked{
          +label{
            color:$green;
          }
          + label:before{
            border-color:$green;
            background:$green;
          }
        }
      }
    }

    .buttons{
      padding-top: 15px;
      text-align: center;
      .btn{
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
    }
  }

  &.alert{
    display: block;
    width:100%;
    max-width: 400px;
    margin:0 auto;
    align-self:center;
    text-align: center;
    p{
      @include mont(13px, 400, $white);
      line-height: 1.5;
      max-width: 300px;
      margin:0 auto 20px;
      input{
        display: inline-block;
        vertical-align: middle;
      }
      label{
        font-weight: 300;
        font-size: 12px;
      }
    }
    .buttons{
      .btn{
        display: block;
        margin:0 auto 15px;
        width: 100%;
        max-width: 250px;
      }
    }
  }
}


#Settings{
  .setting-contents.container{
    @media (max-width:500px){
      .columns{
        width: 100%;
        padding:0px;
      }

      .img-circle{
        width: 100%;
        max-width: 300px;
      }
    }
  } 
}