.pagination {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  overflow: auto;
  align-items: center;
  margin-bottom: 15px;
  .legend {
    font-family: 'Questrial';
    font-size: 10px;
    color: $greyType;
    padding-right: 10px;
    text-transform: uppercase;
  }
  button {
    display: block;
    background: #4e4f4f;
    border-radius: 100%;
    text-transform: uppercase;
    border: 1px solid #2f2e33;
    text-align: center;
    font-family: 'Questrial';
    font-size: 10px;
    color: $white;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    padding: 0px;
    transition: all 200ms ease-out;
    &:hover {
      background: transparent;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
    }
  }
}
